<html>
  <head>
    <title>User Information</title>
  </head>
  <body>
    <h1>Submitted Info</h1>
    <h3>Name:<%= user.name %></h3>
    <p>Dojo Location:<%= user.location %></p>
    <p>Favorite Language:<%= user.language %></p>
    <p>Comments:<%= user.comment %></p>
    <form action="goback">
      <input type='submit' value='go back'>
    </form>
  </body>
</html>
